.doc-icon {
  width: 3rem;
  height: 3rem;
}

.pine {
  color: #1A7972;
}

.bg-pine {
  background-color: #1A7972;
}

.dark-pine {
  color: #19524D;
}

.bg-dark-pine {
  background-color: #19524D;
}

.tweakers-red {
  color: #b9133c;
}